src/FsInfoCat.Test/Pester/Data/TestLogicalVolumeData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="RegisteredType">
        <xs:attribute name="VolumeIdentifier" type="xs:anyURI" use="required" />
        <xs:attribute name="RootUri" type="xs:anyURI" use="optional" />
        <xs:attribute name="OptionalSwitch">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CaseSensitive" />
                    <xs:enumeration value="IgnoreCase" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="CaseSensitive" type="xs:boolean" use="required" />
    </xs:complexType>
    <xs:complexType name="FsLogicalVolumeType">
        <xs:sequence maxOccurs="1">
            <xs:element name="Registered" type="RegisteredType" />
        </xs:sequence>
        <xs:attribute name="RootPath" type="xs:string" use="required" />
        <xs:attribute name="VolumeName" type="xs:string" use="required" />
        <xs:attribute name="VolumeId" type="xs:string" use="required" />
        <xs:attribute name="FsName" type="xs:string" use="required" />
        <xs:attribute name="RemotePath" type="xs:string" use="required" />
        <xs:attribute name="IsReadOnly" type="xs:boolean" use="required" />
        <xs:attribute name="IsFixed" type="xs:boolean" use="required" />
        <xs:attribute name="IsNetwork" type="xs:boolean" use="required" />
        <xs:attribute name="CaseSensitive" type="xs:boolean" use="required" />
    </xs:complexType>
    <xs:element name="TestData">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="FsLogicalVolume" type="FsLogicalVolumeType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
