src/FsInfoCat/Resources/EntityDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="EntityDefinitions" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:simpleType name="CsIdentifier">
        <xs:restriction base="xs:NCName">
            <xs:pattern value="^[A-Z][A-Za-z\d_]*$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DriveType">
        <xs:restriction base="CsIdentifier">
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="CDRom"/>
            <xs:enumeration value="Fixed"/>
            <xs:enumeration value="Network"/>
            <xs:enumeration value="NoRootDirectory"/>
            <xs:enumeration value="Ram"/>
            <xs:enumeration value="Removable"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CommentDoc" mixed="true">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TypeParam">
        <xs:complexContent>
            <xs:extension base="CommentDoc">
                <xs:attribute name="name" type="CsIdentifier" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SeeAlso">
        <xs:complexContent>
            <xs:extension base="CommentDoc">
                <xs:attribute name="cref" type="CsIdentifier" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnumDefinition">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc" />
            <xs:element name="remarks" type="CommentDoc" minOccurs="0"/>
            <xs:element name="seealso" type="SeeAlso" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="CsIdentifier" use="required" />
    </xs:complexType>
    <xs:complexType name="EnumField">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc" />
            <xs:element name="remarks" type="CommentDoc" minOccurs="0"/>
            <xs:element name="seealso" type="SeeAlso" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="CsIdentifier" use="required" />
        <xs:attribute name="DisplayNameResource" type="CsIdentifier" use="optional" />
        <xs:attribute name="DescriptionResource" type="CsIdentifier" use="optional" />
        <xs:attribute name="ResourceType" type="xs:NCName" use="optional" />
        <xs:attribute name="AmbientValue" type="xs:normalizedString" use="optional" />
    </xs:complexType>
    <xs:complexType name="ByteEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedByte" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SByteEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:byte" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ShortEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:short" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UShortEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedShort" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:int" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UIntEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedInt" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LongEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:long" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ULongEnumDefinition">
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedLong" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EntityProperty">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc" />
            <xs:element name="value" type="CommentDoc" />
            <xs:element name="remarks" type="CommentDoc" minOccurs="0"/>
            <xs:element name="seealso" type="SeeAlso" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="CsIdentifier" use="required" />
        <xs:attribute name="DisplayNameResource" type="CsIdentifier" use="optional" />
        <xs:attribute name="ResourceType" type="xs:NCName" use="optional" />
        <xs:attribute name="IsGenericWritable" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="IsUnique" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="IsIndexed" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
    <xs:complexType name="ByteProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedByte"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:unsignedByte" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:unsignedByte" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SByteProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:byte"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:byte" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ByteArrayProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:base64Binary"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ShortProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:short"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:short" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:short" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UShortProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedShort"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:unsignedShort" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:int"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:int" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UIntProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedInt"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:unsignedInt" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LongProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:long"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:long" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:long" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ULongProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedLong"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinValue" type="xs:unsignedLong" use="optional"/>
                <xs:attribute name="MaxValue" type="xs:unsignedLong" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NVarCharProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="MinLength" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="MaxLength" type="xs:unsignedShort" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BitProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:boolean"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DateTimeProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:dateTime"/>
                    <xs:element name="DefaultNow" />
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UniqueIdentifierProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="IsPrimaryKey" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="IsDefaultNull" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VolumeIdentifierProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DriveTypeProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="DriveType"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnumProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="CsIdentifier"/>
                    <xs:element name="DefaultNull" />
                </xs:choice>
                <xs:attribute name="Type" type="CsIdentifier" use="required"/>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NavigationProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="Reference" type="CsIdentifier" use="required"/>
                <xs:attribute name="ParentNavigation" type="CsIdentifier" use="required"/>
                <xs:attribute name="ForeignKey" type="CsIdentifier" use="required"/>
                <xs:attribute name="PrimaryKey" type="CsIdentifier" use="optional"/>
                <xs:attribute name="IsOneToOne" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="IsDefaultNull" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CollectionNavigationProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="ItemType" type="CsIdentifier" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PropertiesList">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Byte" type="ByteProperty" />
            <xs:element name="SByte" type="SByteProperty" />
            <xs:element name="ByteArray" type="ByteArrayProperty" />
            <xs:element name="Short" type="ShortProperty" />
            <xs:element name="UShort" type="UShortProperty" />
            <xs:element name="Int" type="IntProperty" />
            <xs:element name="UInt" type="UIntProperty" />
            <xs:element name="Long" type="LongProperty" />
            <xs:element name="ULong" type="ULongProperty" />
            <xs:element name="NVarChar" type="NVarCharProperty" />
            <xs:element name="DateTime" type="DateTimeProperty" />
            <xs:element name="UniqueIdentifier" type="UniqueIdentifierProperty" />
            <xs:element name="Bit" type="BitProperty" />
            <xs:element name="Text" type="TextProperty" />
            <xs:element name="VolumeIdentifier" type="VolumeIdentifierProperty"/>
            <xs:element name="DriveType" type="DriveTypeProperty"/>
            <xs:element name="Enum" type="EnumProperty"/>
            <xs:element name="Navigation" type="NavigationProperty"/>
            <xs:element name="CollectionNavigation" type="CollectionNavigationProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntityDefinition">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc" />
            <xs:element name="typeparam" type="TypeParam" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="remarks" type="CommentDoc" minOccurs="0"/>
            <xs:element name="seealso" type="SeeAlso" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Implements" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="Type" type="xs:normalizedString" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Properties" type="PropertiesList">
                <xs:unique name="IDX_Property_Name">
                    <xs:selector xpath="*"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="CsIdentifier" use="required" />
        <xs:attribute name="BaseInterface" type="CsIdentifier" use="optional" />
    </xs:complexType>
    <xs:complexType name="CommonEntityDefinition">
        <xs:complexContent>
            <xs:extension base="EntityDefinition">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DbEntityDefinition">
        <xs:complexContent>
            <xs:extension base="EntityDefinition">
                <xs:attribute name="TableName" type="CsIdentifier" use="optional" />
                <xs:attribute name="GenericInterface" type="CsIdentifier" use="optional" />
                <xs:attribute name="Extends" type="CsIdentifier" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="EnumGroup">
        <xs:choice>
            <xs:element name="ByteEnum" type="ByteEnumDefinition">
                <xs:unique name="IDX_ByteEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="SByteEnum" type="SByteEnumDefinition">
                <xs:unique name="IDX_SByteEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="ShortEnum" type="ShortEnumDefinition">
                <xs:unique name="IDX_ShortEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="UShortEnum" type="UShortEnumDefinition">
                <xs:unique name="IDX_UShortEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="IntEnum" type="IntEnumDefinition">
                <xs:unique name="IDX_IntEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="UIntEnum" type="UIntEnumDefinition">
                <xs:unique name="IDX_UIntEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="LongEnum" type="LongEnumDefinition">
                <xs:unique name="IDX_LongEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="ULongEnum" type="ULongEnumDefinition">
                <xs:unique name="IDX_ULongEnum">
                    <xs:selector xpath="Field"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:element name="EntityDefinitions">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:group ref="EnumGroup"/>
                    <xs:element name="Entity" type="CommonEntityDefinition" />
                </xs:choice>
                <xs:element name="Local">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:group ref="EnumGroup"/>
                            <xs:element name="Entity" type="DbEntityDefinition" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Upstream">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:group ref="EnumGroup"/>
                            <xs:element name="Entity" type="DbEntityDefinition" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="IDX_RootIdentifiers">
            <xs:selector xpath="*"/>
            <xs:field xpath="@Name"/>
        </xs:unique>
        <xs:unique name="IDX_LocalIdentifiers">
            <xs:selector xpath="*|Local/*"/>
            <xs:field xpath="@Name"/>
        </xs:unique>
        <xs:unique name="IDX_UpstreamIdentifiers">
            <xs:selector xpath="*|Upstream/*"/>
            <xs:field xpath="@Name"/>
        </xs:unique>
        <xs:key name="PK_Entity">
            <xs:selector xpath="Entity"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_EntityBase" refer="PK_Entity">
            <xs:selector xpath="Entity"/>
            <xs:field xpath="@BaseInterface"/>
        </xs:keyref>
        <xs:key name="PK_LocalEntity">
            <xs:selector xpath="Entity|Local/Entity"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_LocalEntity" refer="PK_LocalEntity">
            <xs:selector xpath="Local/Entity"/>
            <xs:field xpath="@BaseInterface"/>
        </xs:keyref>
        <xs:key name="PK_UpstreamEntity">
            <xs:selector xpath="Entity|Upstream/Entity"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_UpstreamEntity" refer="PK_UpstreamEntity">
            <xs:selector xpath="Upstream/Entity"/>
            <xs:field xpath="@BaseInterface"/>
        </xs:keyref>
        <xs:keyref name="FK_EntityNavigation" refer="PK_Entity">
            <xs:selector xpath="Entity/Properties/Navigation"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:keyref name="FK_LocalEntityNavigation" refer="PK_LocalEntity">
            <xs:selector xpath="Local/Entity/Properties/Navigation"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:keyref name="FK_UpstreamEntityNavigation" refer="PK_UpstreamEntity">
            <xs:selector xpath="Upstream/Entity/Properties/Navigation"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:key name="PK_Enum">
            <xs:selector xpath="ByteEnum|SByteEnum|ShortEnum|UShortEnum|IntEnum|UIntEnum|LongEnum|ULongEnum"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Enum" refer="PK_Enum">
            <xs:selector xpath="Entity/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:key name="PK_LocalEnum">
            <xs:selector xpath="ByteEnum|SByteEnum|ShortEnum|UShortEnum|IntEnum|UIntEnum|LongEnum|ULongEnum|Local/ByteEnum|Local/SByteEnum|Local/ShortEnum|Local/UShortEnum|Local/IntEnum|Local/UIntEnum|Local/LongEnum|Local/ULongEnum"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_LocalEnum" refer="PK_LocalEnum">
            <xs:selector xpath="Local/Entity/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:key name="PK_UpstreamEnum">
            <xs:selector xpath="ByteEnum|SByteEnum|ShortEnum|UShortEnum|IntEnum|UIntEnum|LongEnum|ULongEnum|Upstream/ByteEnum|Upstream/SByteEnum|Upstream/ShortEnum|Upstream/UShortEnum|Upstream/IntEnum|Upstream/UIntEnum|Upstream/LongEnum|Upstream/ULongEnum"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_UpstreamEnum" refer="PK_UpstreamEnum">
            <xs:selector xpath="Upstream/Entity/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
