src/FsInfoCat/Resources/EntityDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="EntityDefinitions" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:simpleType name="AnyCsIdentifier">
        <xs:restriction base="xs:token">
            <xs:pattern value="^[A-Z][A-Za-z\d_]*({[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*})?$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsIdentifier">
        <xs:restriction base="AnyCsIdentifier">
            <xs:pattern value="^[A-Z][A-Za-z\d_]*$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsGenericIdentifier">
        <xs:restriction base="AnyCsIdentifier">
            <xs:pattern value="^[A-Z][A-Za-z\d_]*{[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyCsTypeName">
        <xs:restriction base="xs:token">
            <xs:pattern value="^((?=[A-Za-z\d_]+\.)[A-Z][A-Za-z\d_]*\.)*[A-Z][A-Za-z\d_]*({[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*})?$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsTypeName">
        <xs:restriction base="AnyCsTypeName">
            <xs:pattern value="^((?=[A-Za-z\d_]+\.)[A-Z][A-Za-z\d_]*\.)*[A-Z][A-Za-z\d_]*$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsGenericTypeDefinition">
        <xs:restriction base="AnyCsTypeName">
            <xs:pattern value="^((?=[A-Za-z\d_]+\.)[A-Z][A-Za-z\d_]*\.)*[A-Z][A-Za-z\d_]*{[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsMemberReference">
        <xs:restriction base="xs:token">
            <xs:pattern value="^((?=[A-Za-z\d_]+[.{])[A-Z][A-Za-z\d_]*\.?)+({[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*}\.)?[A-Z][A-Za-z\d_]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsGenericPropertyReference">
        <xs:restriction base="CsMemberReference">
            <xs:pattern value="^((?=[A-Za-z\d_]+\.)[A-Z][A-Za-z\d_]*\.)*[A-Z][A-Za-z\d_]*{[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*}\.*[A-Z][A-Za-z\d_]*$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsEnumFieldReference">
        <xs:restriction base="CsMemberReference">
            <xs:pattern value="^((?=[A-Za-z\d_]+\.)[A-Z][A-Za-z\d_]*\.)+[A-Z][A-Za-z\d_]*$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsIdentifierOrEmpty">
        <xs:union memberTypes="CsIdentifier">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="DriveType">
        <xs:restriction base="CsIdentifier">
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="CDRom"/>
            <xs:enumeration value="Fixed"/>
            <xs:enumeration value="Network"/>
            <xs:enumeration value="NoRootDirectory"/>
            <xs:enumeration value="Ram"/>
            <xs:enumeration value="Removable"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SingleChar">
        <xs:restriction base="xs:string">
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="DetailsCommentDoc">
        <xs:sequence>
            <xs:element name="remarks" type="CommentDoc" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Remarks xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="seealso" type="CommentDoc" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>See-also xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="BasicCommentDoc">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Summary xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="DetailsCommentDoc" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="CommentDoc" mixed="true">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="PropertyCommentDoc">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Summary xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Value xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="DetailsCommentDoc" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="TypeParamCommentDoc">
        <xs:complexContent>
            <xs:extension base="CommentDoc">
                <xs:attribute name="name" type="CsIdentifier">
                    <xs:annotation>
                        <xs:documentation>The name of the generic type parameter name used in the Name of the current entity that refers a generic entity type.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SeeAlsoCommentDoc">
        <xs:complexContent>
            <xs:extension base="CommentDoc">
                <xs:attribute name="cref" type="AnyCsTypeName" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AmbientValueDefinition">
        <xs:attribute name="Value" use="required"/>
    </xs:complexType>
    <xs:group name="AmbientValue">
        <xs:choice>
            <xs:element name="AmbientByte">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:unsignedByte" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientSByte">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:byte" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientShort">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:short" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientUShort">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:unsignedShort" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientInt">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:int" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientUInt">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:unsignedInt" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientLong">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:long" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientULong">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:unsignedLong" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientFloat">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:float" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientDouble">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:double" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientBoolean">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:unsignedByte" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientString">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="xs:unsignedByte" use="required" />
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="AmbientEnum">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="AmbientValueDefinition">
                            <xs:attribute name="Value" type="CsTypeName" use="required">
                                <xs:annotation>
                                    <xs:documentation>The full name of an Enum field, matching XPath "/EntityDefinitions/*/EnumTypes/@FullName"</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:attributeGroup name="MemberAttributes">
        <xs:attribute name="DisplayNameResource" use="optional" type="CsIdentifierOrEmpty">
            <xs:annotation>
                <xs:documentation>The name of the resource for the property's display name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DescriptionResource" use="optional" type="CsIdentifier">
            <xs:annotation>
                <xs:documentation>The name of the resource for the property's description.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ResourceType" type="CsTypeName" use="optional">
            <xs:annotation>
                <xs:documentation>The type name of the resource for the property display name and/or description.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:complexType name="MemberDefinitionBase">
        <xs:attribute name="Name" type="CsIdentifier" use="required">
            <xs:annotation>
                <xs:documentation>The name of the field or property.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FullName" type="CsMemberReference" use="required">
            <xs:annotation>
                <xs:documentation>The full name to reference the member.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="MemberDefinition">
        <xs:complexContent>
            <xs:extension base="MemberDefinitionBase">
                <xs:attributeGroup ref="MemberAttributes" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnumFieldDefinitionBase">
        <xs:complexContent>
            <xs:restriction base="MemberDefinition">
                <xs:attributeGroup ref="MemberAttributes" />
                <xs:attribute name="FullName" type="CsEnumFieldReference" use="required">
                    <xs:annotation>
                        <xs:documentation>The full name to reference the field.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="EnumFieldElements">
        <xs:sequence>
            <xs:group ref="BasicCommentDoc" />
            <xs:group ref="AmbientValue" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="EnumFieldDefinition">
        <xs:annotation>
            <xs:documentation>
                Defines an enum field.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumFieldDefinitionBase">
                <xs:group ref="EnumFieldElements" />
                <xs:attribute name="Value" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="EnumTypeAttributes">
        <xs:attribute name="Name" type="CsIdentifier" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the Enum type.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsFlags" type="xs:boolean" use="optional" default="false"/>
    </xs:attributeGroup>
    <xs:complexType name="EnumTypeDefinition">
        <xs:sequence>
            <xs:group ref="BasicCommentDoc" />
            <xs:element name="Field" type="EnumFieldDefinition" minOccurs="2" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="EnumTypeAttributes"/>
    </xs:complexType>
    <xs:complexType name="ByteEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a byte base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:unsignedByte" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="EnumTypeAttributes"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SByteEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with an sbyte base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:byte" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ShortEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a short base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:short" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UShortEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a ushort base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:unsignedShort" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with an int base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:int" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UIntEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a uiont base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:unsignedInt" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LongEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a long base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:long" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ULongEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a ulong base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="EnumTypeDefinition">
                <xs:sequence>
                    <xs:group ref="BasicCommentDoc" />
                    <xs:element name="Field" minOccurs="2" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:restriction base="EnumFieldDefinition">
                                    <xs:group ref="EnumFieldElements" />
                                    <xs:attribute name="Value" type="xs:unsignedLong" use="required"/>
                                </xs:restriction>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NewEntityProperty">
        <xs:complexContent>
            <xs:extension base="MemberDefinitionBase">
                <xs:group ref="PropertyCommentDoc" minOccurs="0" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EntityProperty">
        <xs:complexContent>
            <xs:extension base="MemberDefinition">
                <xs:group ref="PropertyCommentDoc" />
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsGenericWritable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether the property is read/write on generic interfaces.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsUnique" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to add a unique constraint.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsIndexed" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether the column is indexed.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ColName" type="CsIdentifier" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies a column name that is different from the property name.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ByteProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedByte">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:unsignedByte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:unsignedByte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SByteProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:byte">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ByteArrayProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:base64Binary">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinLength" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxLength" type="xs:unsignedShort" use="required">
                    <xs:annotation>
                        <xs:documentation>The constant maximum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MultiStringValueProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ShortProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:short">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:short" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:short" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UShortProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedShort">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:int">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UIntProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedInt">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:unsignedInt" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:unsignedInt" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LongProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:long" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:long" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ULongProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedLong">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:unsignedLong" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:unsignedLong" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FloatProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:float">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:float" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:float" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DoubleProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:double">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:double" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:double" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DecimalProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinValue" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NVarCharProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="MinLength" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxLength" type="xs:unsignedShort" use="required">
                    <xs:annotation>
                        <xs:documentation>The constant maximum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsNormalized" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Whether strings are trimmed and whitespace-normalized.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CharProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="SingleChar">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BitProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DateTimeProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNow">
                        <xs:annotation>
                            <xs:documentation>The default value is the current date and time at entity creation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TimeSpanProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:duration">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultZero">
                        <xs:annotation>
                            <xs:documentation>The default value is zero-value duration.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UniqueIdentifierProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:sequence>
                    <xs:element name="DefaultNull" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="IsPrimaryKey" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Designates column as a primary key if true.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Navigation" type="CsIdentifier" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies a property as the navigation property in a foreign key relationship matching XPath "../*/@Name".
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NewIdNavRefProperty">
        <xs:complexContent>
            <xs:extension base="NewEntityProperty">
                <xs:attribute name="Navigation" type="CsIdentifier" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies a property as the navigation property in a foreign key relationship matching XPath "../*/@Name".
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VolumeIdentifierProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MD5HashProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:sequence>
                    <xs:element name="DefaultNull" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ByteValuesProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:sequence>
                    <xs:element name="DefaultNull" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="MinLength" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxLength" type="xs:unsignedShort" use="required">
                    <xs:annotation>
                        <xs:documentation>The constant maximum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DriveTypeProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="DriveType">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnumProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="CsTypeName">
                        <xs:annotation>
                            <xs:documentation>The full name of a field on the Enum Type.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="Type" type="CsIdentifier" use="required">
                    <xs:annotation>
                        <xs:documentation>The class name of the Enum type.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RelatedEntityProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:sequence>
                    <xs:element name="DefaultNull" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType></xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="Reference" type="CsIdentifier" use="required">
                    <xs:annotation>
                        <xs:documentation>The value of the Name attribute of the related entity.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="PrimaryKey" type="CsMemberReference" use="optional">
                    <xs:annotation>
                        <xs:documentation>The full name of an entity property.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsOneToOne" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NewRelatedEntityProperty">
        <xs:complexContent>
            <xs:extension base="NewEntityProperty">
                <xs:attribute name="Reference" type="CsIdentifier" use="required">
                    <xs:annotation>
                        <xs:documentation>The value of the Name attribute of the related entity.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NavigationSetProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="ItemType" type="CsIdentifier" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            The entity element type matching XPath "/EntityDefinitions/*/Entity/@Name".
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ForeignKey" type="CsMemberReference" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            THe property full name representing the foreign key,  matching XPath "/EntityDefinitions/*/Entity/Properties/*/@FullName"
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NewNavigationSetProperty">
        <xs:complexContent>
            <xs:extension base="NewEntityProperty">
                <xs:attribute name="ItemType" type="CsIdentifier" use="required">
                    <xs:annotation>
                        <xs:documentation>The value of the Name attribute of the related entity.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PropertiesList">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Byte" type="ByteProperty" />
            <xs:element name="SByte" type="SByteProperty" />
            <xs:element name="ByteArray" type="ByteArrayProperty" />
            <xs:element name="MultiStringValue" type="MultiStringValueProperty" />
            <xs:element name="MD5Hash" type="MD5HashProperty" />
            <xs:element name="ByteValues" type="ByteValuesProperty" />
            <xs:element name="Short" type="ShortProperty" />
            <xs:element name="UShort" type="UShortProperty" />
            <xs:element name="Int" type="IntProperty" />
            <xs:element name="UInt" type="UIntProperty" />
            <xs:element name="Long" type="LongProperty" />
            <xs:element name="ULong" type="ULongProperty" />
            <xs:element name="Double" type="DoubleProperty" />
            <xs:element name="Float" type="FloatProperty" />
            <xs:element name="Decimal" type="DecimalProperty" />
            <xs:element name="NVarChar" type="NVarCharProperty" />
            <xs:element name="Char" type="CharProperty" />
            <xs:element name="DateTime" type="DateTimeProperty" />
            <xs:element name="TimeSpan" type="TimeSpanProperty" />
            <xs:element name="UniqueIdentifier" type="UniqueIdentifierProperty" />
            <xs:element name="NewIdNavRef" type="NewIdNavRefProperty" />
            <xs:element name="Bit" type="BitProperty" />
            <xs:element name="Text" type="TextProperty" />
            <xs:element name="VolumeIdentifier" type="VolumeIdentifierProperty"/>
            <xs:element name="DriveType" type="DriveTypeProperty"/>
            <xs:element name="Enum" type="EnumProperty"/>
            <xs:element name="RelatedEntity" type="RelatedEntityProperty" />
            <xs:element name="NewRelatedEntity" type="NewRelatedEntityProperty" />
            <xs:element name="CollectionNavigation" type="NavigationSetProperty"/>
            <xs:element name="NewCollectionNavigation" type="NewNavigationSetProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntityDefinition">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Summary xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeparam" type="TypeParamCommentDoc" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Type parameter xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="DetailsCommentDoc" />
            <xs:choice minOccurs="0">
                <xs:element name="ExtendsGenericEntity">
                    <xs:annotation>
                        <xs:documentation>Inherits from an entity that has type parameters.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="CsGenericIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>The type to emit for code generation.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="TypeDef" type="CsGenericIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    The name of the generic type definition entity matching XPath "/EntityDefinitions/*/Entity/@Name".
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExtendsEntity">
                    <xs:annotation>
                        <xs:documentation>Inherits from an entity that has no type parameters.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="CsIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>The entity name matching XPath "/EntityDefinitions/*/Entity/@Name"</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BaseType">
                    <xs:annotation>
                        <xs:documentation>Entity inherits from another type</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="xs:normalizedString" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="ImplementsGenericEntity">
                    <xs:annotation>
                        <xs:documentation>Implements an entity interface that has type parameters.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="CsGenericIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>The type to emit for code generation.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="TypeDef" type="CsGenericIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    The name of the generic type definition matching XPath "/EntityDefinitions/*/Entity/@Name".
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ImplementsEntity">
                    <xs:annotation>
                        <xs:documentation>Implements an entity interface that has no type parameters.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="CsIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    The entity name matching XPath "/EntityDefinitions/*/Entity/@Name"
                                    /EntityDefinitions/*/Entity/ImplementsEntity/@TypeDef => /EntityDefinitions/*/Entity/@Name
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Implements">
                    <xs:annotation>
                        <xs:documentation>Entity implements another interface</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="xs:normalizedString" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element name="Properties" type="PropertiesList">
                <xs:unique name="IDX_Property_Name">
                    <xs:selector xpath="*"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
                <xs:key name="PK_RelatedEntity_Name">
                    <xs:selector xpath="RelatedEntity|NewRelatedEntity" />
                    <xs:field xpath="@Name" />
                </xs:key>
                <xs:keyref name="FK_NavigationProperty" refer="PK_RelatedEntity_Name">
                    <xs:selector xpath="UniqueIdentifier|NewIdNavRef" />
                    <xs:field xpath="@Navigation" />
                </xs:keyref>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="AnyCsIdentifier" use="required">
            <xs:annotation>
                <xs:documentation>The class name of the entity.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CommonEntityDefinition">
        <xs:complexContent>
            <xs:extension base="EntityDefinition">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DbEntityDefinition">
        <xs:complexContent>
            <xs:extension base="EntityDefinition">
                <xs:attribute name="TableName" type="CsIdentifier" use="optional" />
                <xs:attribute name="RootInterface" type="CsIdentifier" use="optional">
                    <xs:annotation>
                        <xs:documentation>The root interface name matching XPath "/EntityDefinitions/*/Entity/@Name".</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NamespaceDefinition">
        <xs:sequence>
            <xs:element name="EnumTypes" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="Byte" type="ByteEnumDefinition">
                            <xs:unique name="IDX_ByteEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="SByte" type="SByteEnumDefinition">
                            <xs:unique name="IDX_SByteEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="Short" type="ShortEnumDefinition">
                            <xs:unique name="IDX_ShortEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="UShort" type="UShortEnumDefinition">
                            <xs:unique name="IDX_UShortEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="Int" type="IntEnumDefinition">
                            <xs:unique name="IDX_IntEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="UInt" type="UIntEnumDefinition">
                            <xs:unique name="IDX_UIntEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="Long" type="LongEnumDefinition">
                            <xs:unique name="IDX_LongEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="ULong" type="ULongEnumDefinition">
                            <xs:unique name="IDX_ULongEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EntityDefinitions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Root">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="NamespaceDefinition">
                                <xs:sequence>
                                    <xs:element name="Entity" type="CommonEntityDefinition" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Local">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="NamespaceDefinition">
                                <xs:sequence>
                                    <xs:element name="Entity" type="DbEntityDefinition" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Upstream">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="NamespaceDefinition">
                                <xs:sequence>
                                    <xs:element name="Entity" type="DbEntityDefinition" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:unique name="IDX_Local_Type_Name">
            <xs:selector xpath="Root/Entity|Root/EnumTypes/*|Local/Entity|Local/EnumTypes/*" />
            <xs:field xpath="@Name" />
        </xs:unique>
        <xs:unique name="IDX_Local_Member_FullName">
            <xs:selector xpath="Root/Entity/Properties/*|Root/EnumTypes/*/Field|Local/Entity/Properties/*|Local/EnumTypes/*/Field" />
            <xs:field xpath="@FullName" />
        </xs:unique>
        <xs:unique name="IDX_Upstream_Type_Name">
            <xs:selector xpath="Root/Entity|Root/EnumTypes/*|Upstream/Entity|Upstream/EnumTypes/*" />
            <xs:field xpath="@Name" />
        </xs:unique>
        <xs:unique name="IDX_Upstream_Member_FullName">
            <xs:selector xpath="Root/Entity/Properties/*|Root/EnumTypes/*/Field|Upstream/Entity/Properties/*|Upstream/EnumTypes/*/Field" />
            <xs:field xpath="@FullName" />
        </xs:unique>

        <xs:key name="PK_RootScope_Enum_Name">
            <xs:selector xpath="Root/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Root_Entity_EnumProperty_Type" refer="PK_RootScope_Enum_Name">
            <xs:selector xpath="Root/Entity/Properties/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        
        <xs:key name="PK_RootScope_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Root_Entity_EnumProperty_Default" refer="PK_RootScope_Enum_Field_FullName">
            <xs:selector xpath="Root/Entity/Properties/Enum"/>
            <xs:field xpath="Default"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_Enum_AmbientEnum_Value" refer="PK_RootScope_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field/AmbientEnum"/>
            <xs:field xpath="@Value"/>
        </xs:keyref>
        
        <xs:key name="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Root_Entity_RelatedEntity_Reference" refer="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity/Properties/RelatedEntity|Root/Entity/Properties/NewRelatedEntity"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_Entity_CollectionNavigation_ItemType" refer="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity/Properties/CollectionNavigation|Root/Entity/Properties/NewCollectionNavigation"/>
            <xs:field xpath="@ItemType"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_ExtendsEntity_Type" refer="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity/ExtendsEntity"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_ExtendsGenericEntity_TypeDef" refer="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity/ExtendsGenericEntity"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_ImplementsEntity_Type" refer="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity/ImplementsEntity"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_ImplementsGenericEntity_TypeDef" refer="PK_RootScope_Entity_Name">
            <xs:selector xpath="Root/Entity/ImplementsGenericEntity"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>

        <xs:key name="PK_RootScope_Entity_Property_FullName">
            <xs:selector xpath="Root/Entity/Properties/*"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Root_RelatedEntity_PrimaryKey" refer="PK_RootScope_Entity_Property_FullName">
            <xs:selector xpath="Root/Entity/Properties/RelatedEntity|Root/Entity/Properties/NewRelatedEntity"/>
            <xs:field xpath="@PrimaryKey"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_CollectionNavigation_ForeignKey" refer="PK_RootScope_Entity_Property_FullName">
            <xs:selector xpath="Root/Entity/Properties/CollectionNavigation|Root/Entity/Properties/NewCollectionNavigation"/>
            <xs:field xpath="@ForeignKey"/>
        </xs:keyref>

        <xs:key name="PK_LocalScope_Enum_Name">
            <xs:selector xpath="Root/EnumTypes/*|Local/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Local_Entity_EnumProperty_Type" refer="PK_LocalScope_Enum_Name">
            <xs:selector xpath="Local/Entity/Properties/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>

        <xs:key name="PK_LocalScope_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field|Local/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Local_Entity_EnumProperty_Default" refer="PK_LocalScope_Enum_Field_FullName">
            <xs:selector xpath="Local/Entity/Properties/Enum"/>
            <xs:field xpath="Default"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_Enum_AmbientEnum_Value" refer="PK_LocalScope_Enum_Field_FullName">
            <xs:selector xpath="Local/EnumTypes/*/Field/AmbientEnum"/>
            <xs:field xpath="@Value"/>
        </xs:keyref>

        <xs:key name="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Root/Entity|Local/Entity"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Local_Entity_RelatedEntity_Reference" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity/Properties/RelatedEntity|Local/Entity/Properties/NewRelatedEntity"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_Entity_CollectionNavigation_ItemType" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity/Properties/CollectionNavigation|Local/Entity/Properties/NewCollectionNavigation"/>
            <xs:field xpath="@ItemType"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_ExtendsEntity_Type" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity/ExtendsEntity"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_ExtendsGenericEntity_TypeDef" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity/ExtendsGenericEntity"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_ImplementsEntity_Type" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity/ImplementsEntity"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_ImplementsGenericEntity_TypeDef" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity/ImplementsGenericEntity"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_Entity_RootInterface" refer="PK_LocalScope_Entity_Name">
            <xs:selector xpath="Local/Entity"/>
            <xs:field xpath="@RootInterface"/>
        </xs:keyref>

        <xs:key name="PK_LocalScope_Entity_Property_FullName">
            <xs:selector xpath="Root/Entity/Properties/*|Local/Entity/Properties/*"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Local_RelatedEntity_PrimaryKey" refer="PK_LocalScope_Entity_Property_FullName">
            <xs:selector xpath="Local/Entity/Properties/RelatedEntity|Local/Entity/Properties/NewRelatedEntity"/>
            <xs:field xpath="@PrimaryKey"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_CollectionNavigation_ForeignKey" refer="PK_LocalScope_Entity_Property_FullName">
            <xs:selector xpath="Local/Entity/Properties/CollectionNavigation|Local/Entity/Properties/NewCollectionNavigation"/>
            <xs:field xpath="@ForeignKey"/>
        </xs:keyref>

        <xs:key name="PK_UpstreamScope_Enum_Name">
            <xs:selector xpath="Root/EnumTypes/*|Upstream/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_Entity_EnumProperty_Type" refer="PK_UpstreamScope_Enum_Name">
            <xs:selector xpath="Upstream/Entity/Properties/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>

        <xs:key name="PK_UpstreamScope_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field|Upstream/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_Entity_EnumProperty_Default" refer="PK_UpstreamScope_Enum_Field_FullName">
            <xs:selector xpath="Upstream/Entity/Properties/Enum"/>
            <xs:field xpath="Default"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_Enum_AmbientEnum_Value" refer="PK_UpstreamScope_Enum_Field_FullName">
            <xs:selector xpath="Upstream/EnumTypes/*/Field/AmbientEnum"/>
            <xs:field xpath="@Value"/>
        </xs:keyref>

        <xs:key name="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Root/Entity|Upstream/Entity"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_Entity_RelatedEntity_Reference" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity/Properties/RelatedEntity|Upstream/Entity/Properties/NewRelatedEntity"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_Entity_CollectionNavigation_ItemType" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity/Properties/CollectionNavigation|Upstream/Entity/Properties/NewCollectionNavigation"/>
            <xs:field xpath="@ItemType"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_ExtendsEntity_Type" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity/ExtendsEntity"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_ExtendsGenericEntity_TypeDef" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity/ExtendsGenericEntity"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_ImplementsEntity_Type" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity/ImplementsEntity"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_ImplementsGenericEntity_TypeDef" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity/ImplementsGenericEntity"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_Entity_RootInterface" refer="PK_UpstreamScope_Entity_Name">
            <xs:selector xpath="Upstream/Entity"/>
            <xs:field xpath="@RootInterface"/>
        </xs:keyref>

        <xs:key name="PK_UpstreamScope_Entity_Property_FullName">
            <xs:selector xpath="Root/Entity/Properties/*|Upstream/Entity/Properties/*"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_RelatedEntity_PrimaryKey" refer="PK_UpstreamScope_Entity_Property_FullName">
            <xs:selector xpath="Upstream/Entity/Properties/RelatedEntity|Upstream/Entity/Properties/NewRelatedEntity"/>
            <xs:field xpath="@PrimaryKey"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_CollectionNavigation_ForeignKey" refer="PK_UpstreamScope_Entity_Property_FullName">
            <xs:selector xpath="Upstream/Entity/Properties/CollectionNavigation|Upstream/Entity/Properties/NewCollectionNavigation"/>
            <xs:field xpath="@ForeignKey"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
