src/FsInfoCat/Resources/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:simpleType name="LangWord">
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="null" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="XmlDocSee" mixed="true">
        <xs:attribute name="cref" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="XmlDocLink">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="href" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="XmlDocDescription">
        <xs:sequence minOccurs="0">
            <xs:element name="a" type="XmlDocLink"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XmlDocItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="term" type="xs:string" />
            <xs:element name="description" type="XmlDocDescription" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XmlDocList">
        <xs:choice>
            <xs:element maxOccurs="unbounded" name="item" type="XmlDocItem"/>
        </xs:choice>
        <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType mixed="true" name="XmlDocPara">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" name="see" type="XmlDocSee" />
        </xs:sequence>
    </xs:complexType>
    <xs:group name="BlockXmlDoc">
        <xs:choice>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="see" type="XmlDocSee"/>
            <xs:element name="langword" type="LangWord"/>
            <xs:element minOccurs="0" name="para" type="XmlDocPara"/>
            <xs:element minOccurs="0" name="list" type="XmlDocList"/>
        </xs:choice>
    </xs:group>
    <xs:complexType mixed="true" name="XmlDocSummary">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" name="see" type="XmlDocSee" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XmlDocTypeParam">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="XmlDocRemarks">
        <xs:group ref="BlockXmlDoc" minOccurs="0" maxOccurs="unbounded" />
    </xs:complexType>
    <xs:complexType mixed="true" name="XmlDocSeeAlso">
        <xs:attribute name="cref" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="XmlDocTypeParamRef">
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType mixed="true" name="XmlDocValue">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" name="typeparamref" type="XmlDocTypeParamRef"/>
            <xs:group ref="BlockXmlDoc" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TypeExtends">
        <xs:attribute name="cref" type="xs:string" use="required" />
        <xs:attribute name="generic" type="xs:string" use="optional" />
    </xs:complexType>
    <xs:complexType name="MemberProperty">
        <xs:sequence>
            <xs:element minOccurs="0" name="summary" type="XmlDocSummary"/>
            <xs:element minOccurs="0" name="value" type="XmlDocValue"/>
            <xs:element minOccurs="0" name="remarks" type="XmlDocRemarks"/>
            <xs:element minOccurs="0" name="Default">
                <xs:complexType mixed="true">
                    <xs:attribute name="CLR" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="MinValue">
                <xs:complexType mixed="true">
                    <xs:attribute name="CLR" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="MaxValue">
                <xs:complexType mixed="true">
                    <xs:attribute name="CLR" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Type" type="xs:string" use="required" />
        <xs:attribute name="PrimaryKey" type="xs:boolean" use="optional" default="false" />
        <xs:attribute name="Unique" type="xs:boolean" use="optional" default="false" />
        <xs:attribute name="Indexed" type="xs:boolean" use="optional" default="false" />
        <xs:attribute name="MaxLength" type="xs:unsignedShort" use="optional" />
        <xs:attribute name="MinLength" type="xs:unsignedByte" use="optional" />
        <xs:attribute name="Normalized" type="xs:boolean" use="optional" default="false" />
        <xs:attribute name="NotNull" type="xs:boolean" use="optional" default="false" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
        <xs:attribute name="GenericWritable" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
    <xs:complexType name="EntityType">
        <xs:sequence>
            <xs:element minOccurs="0" name="summary" type="XmlDocSummary"/>
            <xs:element minOccurs="0" name="typeparam" type="XmlDocTypeParam"/>
            <xs:element minOccurs="0" name="remarks" type="XmlDocRemarks"/>
            <xs:element minOccurs="0" name="seealso" type="XmlDocSeeAlso"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Extends" type="TypeExtends"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" type="MemberProperty"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="ResourceType" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:group name="EnumFieldGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="summary" type="XmlDocSummary"/>
            <xs:element minOccurs="0" name="remarks" type="XmlDocRemarks"/>
            <xs:element minOccurs="0" name="seealso" type="XmlDocSeeAlso"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="EnumByteField">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:unsignedByte" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumSByteField">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:byte" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumInt16Field">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:short" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumUInt16Field">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:unsignedShort" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumInt32Field">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:int" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumUInt32Field">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:unsignedInt" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumInt64Field">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:long" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:complexType name="EnumUInt64Field">
        <xs:group ref="EnumFieldGroup"/>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="Value" type="xs:unsignedLong" use="required" />
        <xs:attribute name="DisplayNameResource" type="xs:NCName" use="optional" />
        <xs:attribute name="DescriptionResource" type="xs:NCName" use="optional" />
    </xs:complexType>
    <xs:group name="EnumGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="summary" type="XmlDocSummary"/>
            <xs:element minOccurs="0" name="remarks" type="XmlDocRemarks"/>
            <xs:element minOccurs="0" name="seealso" type="XmlDocSeeAlso"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="DbTableType">
        <xs:sequence>
            <xs:element minOccurs="0" name="summary" type="XmlDocSummary"/>
            <xs:element minOccurs="0" name="remarks" type="XmlDocRemarks"/>
            <xs:element minOccurs="0" name="seealso" type="XmlDocSeeAlso"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Extends" type="TypeExtends"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:NCName" use="required" />
        <xs:attribute name="ItemType" type="xs:NCName" use="required" />
    </xs:complexType>
    <xs:complexType name="ConcreteDbTableType">
        <xs:complexContent>
            <xs:extension base="DbTableType">
                <xs:attribute name="ConcreteType" type="xs:NCName" use="required" />
                <xs:attribute name="TableName" type="xs:NCName" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BaseDbContextType">
        <xs:sequence>
            <xs:element minOccurs="0" name="summary" type="XmlDocSummary"/>
            <xs:element minOccurs="0" name="remarks" type="XmlDocRemarks"/>
            <xs:element minOccurs="0" name="seealso" type="XmlDocSeeAlso"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Extends" type="TypeExtends"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="DbContextType">
        <xs:complexContent>
            <xs:extension base="BaseDbContextType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Table" type="DbTableType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConcreteDbContextType">
        <xs:complexContent>
            <xs:extension base="BaseDbContextType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Table" type="ConcreteDbTableType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="EnumTypes">
        <xs:choice>
            <xs:element name="ByteEnum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumByteField"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="SByteEnum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumSByteField"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Int16Enum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumInt16Field"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt16Enum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumUInt16Field"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Int32Enum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumInt32Field"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt32Enum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumUInt32Field"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Int64Enum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumInt64Field"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt64Enum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="EnumGroup"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="EnumUInt64Field"/>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:NCName" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:element name="Entities">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="EnumTypes" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element maxOccurs="unbounded" name="Entity" type="EntityType"/>
                <xs:element name="DbContext" type="DbContextType"/>
                <xs:element maxOccurs="unbounded" name="Local">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="EnumTypes" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element maxOccurs="unbounded" name="Entity" type="EntityType"/>
                            <xs:element name="DbContext" type="ConcreteDbContextType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="Upstream">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="EnumTypes" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element maxOccurs="unbounded" name="Entity" type="EntityType"/>
                            <xs:element name="DbContext" type="ConcreteDbContextType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
