src/FsInfoCat/Resources/EntityDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="EntityDefinitions" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:simpleType name="CsIdentifier">
        <xs:restriction base="xs:token">
            <xs:pattern value="^[A-Z][A-Za-z\d_]*({[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*})?$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsFullName">
        <xs:restriction base="xs:token">
            <xs:pattern value="((?=[^\{.]+[\{.])[A-Z][A-Za-z\d_]*(\.|(?=\{)))*(\{[A-Z][A-Za-z\d_]*(,[A-Z][A-Za-z\d_]*)*\}\.)?[A-Z][A-Za-z\d_]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DriveType">
        <xs:restriction base="CsIdentifier">
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="CDRom"/>
            <xs:enumeration value="Fixed"/>
            <xs:enumeration value="Network"/>
            <xs:enumeration value="NoRootDirectory"/>
            <xs:enumeration value="Ram"/>
            <xs:enumeration value="Removable"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CsIdentifierOrEmpty">
        <xs:union memberTypes="CsIdentifier">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:group name="DetailsCommentDoc">
        <xs:sequence>
            <xs:element name="remarks" type="CommentDoc" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Remarks xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="seealso" type="CommentDoc" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>See-also xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="FieldCommentDoc">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Summary xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="DetailsCommentDoc" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="CommentDoc" mixed="true">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TypeParam">
        <xs:complexContent>
            <xs:extension base="CommentDoc">
                <xs:attribute name="name" type="CsIdentifier" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SeeAlso">
        <xs:complexContent>
            <xs:extension base="CommentDoc">
                <xs:attribute name="cref" type="CsIdentifier" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnumDefinition">
        <xs:group ref="FieldCommentDoc" />
        <xs:attribute name="Name" type="CsIdentifier" use="required" />
        <xs:attribute name="IsFlags" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
    <xs:complexType name="ByteValue">
        <xs:attribute name="Value" type="xs:unsignedByte" use="required" />
    </xs:complexType>
    <xs:complexType name="SByteValue">
        <xs:attribute name="Value" type="xs:byte" use="required" />
    </xs:complexType>
    <xs:complexType name="ShortValue">
        <xs:attribute name="Value" type="xs:short" use="required" />
    </xs:complexType>
    <xs:complexType name="UShortValue">
        <xs:attribute name="Value" type="xs:unsignedShort" use="required" />
    </xs:complexType>
    <xs:complexType name="IntValue">
        <xs:attribute name="Value" type="xs:int" use="required" />
    </xs:complexType>
    <xs:complexType name="UIntValue">
        <xs:attribute name="Value" type="xs:unsignedInt" use="required" />
    </xs:complexType>
    <xs:complexType name="LongValue">
        <xs:attribute name="Value" type="xs:long" use="required" />
    </xs:complexType>
    <xs:complexType name="ULongValue">
        <xs:attribute name="Value" type="xs:unsignedLong" use="required" />
    </xs:complexType>
    <xs:complexType name="DoubleValue">
        <xs:attribute name="Value" type="xs:double" use="required" />
    </xs:complexType>
    <xs:complexType name="BooleanValue">
        <xs:attribute name="Value" type="xs:boolean" use="required" />
    </xs:complexType>
    <xs:complexType name="StringValue">
        <xs:attribute name="Value" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="EnumValue">
        <xs:attribute name="Value" type="CsFullName" use="required" />
    </xs:complexType>
    <xs:group name="AmbientValue">
        <xs:choice>
            <xs:element name="AmbientByte" type="ByteValue" />
            <xs:element name="AmbientSByte" type="SByteValue" />
            <xs:element name="AmbientShort" type="ShortValue" />
            <xs:element name="AmbientUShort" type="UShortValue" />
            <xs:element name="AmbientInt" type="IntValue" />
            <xs:element name="AmbientUInt" type="UIntValue" />
            <xs:element name="AmbientLong" type="LongValue" />
            <xs:element name="AmbientULong" type="ULongValue" />
            <xs:element name="AmbientDouble" type="DoubleValue" />
            <xs:element name="AmbientBoolean" type="BooleanValue" />
            <xs:element name="AmbientString" type="StringValue" />
            <xs:element name="AmbientEnum" type="EnumValue" />
        </xs:choice>
    </xs:group>
    <xs:attributeGroup name="ValueTypeProperty">
        <xs:attribute name="IsDefaultNull" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Indicates whether the default value is null.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Indicates whether to allow null values.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="MemberAttributes">
        <xs:attribute name="Name" type="CsIdentifier" use="required">
            <xs:annotation>
                <xs:documentation>The name of the property.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FullName" type="CsFullName" use="optional">
            <xs:annotation>
                <xs:documentation>The full name of the property.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DisplayNameResource" use="optional" type="CsIdentifierOrEmpty">
            <xs:annotation>
                <xs:documentation>The name of the resource for the property's display name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DescriptionResource" use="optional" type="CsIdentifier">
            <xs:annotation>
                <xs:documentation>The name of the resource for the property's description.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ResourceType" type="xs:NCName" use="optional">
            <xs:annotation>
                <xs:documentation>The type name of the resource for the property display name and/or description.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:complexType name="EnumField">
        <xs:sequence>
            <xs:group ref="FieldCommentDoc" />
            <xs:group ref="AmbientValue" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MemberAttributes" />
    </xs:complexType>
    <xs:complexType name="ByteEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a byte base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedByte" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SByteEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with an sbyte base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:byte" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ShortEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a short base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:short" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UShortEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a ushort base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedShort" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with an int base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:int" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UIntEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a uiont base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedInt" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LongEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a long base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:long" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ULongEnumDefinition">
        <xs:annotation>
            <xs:documentation>Defines an enum with a ulong base value type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EnumDefinition">
                <xs:sequence minOccurs="2" maxOccurs="unbounded">
                    <xs:element name="Field">
                        <xs:annotation>
                            <xs:documentation>Defines an enum field.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="EnumField">
                                    <xs:attribute name="Value" type="xs:unsignedLong" use="required"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="PropertyCommentDoc">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Summary xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Value xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="DetailsCommentDoc" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="EntityProperty">
        <xs:group ref="PropertyCommentDoc" />
        <xs:attributeGroup ref="MemberAttributes" />
        <xs:attribute name="IsGenericWritable" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Indicates whether the property is read/write on generic interfaces.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsUnique" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Indicates whether to add a unique constraint.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsIndexed" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Indicates whether the column is indexed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ByteProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedByte">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SByteProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:byte">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ByteArrayProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:base64Binary">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MultiStringValueProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ShortProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:short">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UShortProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedShort">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:int">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UIntProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedInt">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LongProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ULongProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:unsignedLong">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DoubleProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:double">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxValue" type="xs:byte" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NVarCharProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MinLength" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant minimum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="MaxLength" type="xs:unsignedShort" use="optional">
                    <xs:annotation>
                        <xs:documentation>The constant maximum length.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BitProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DateTimeProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNow">
                        <xs:annotation>
                            <xs:documentation>The default value is the current date and time at entity creation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UniqueIdentifierProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="IsPrimaryKey" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Designates column as a primary key if true.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attributeGroup ref="ValueTypeProperty" />
                <xs:attribute name="Navigation" type="CsIdentifier" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies a property as the navigation property in a foreign key relationship.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VolumeIdentifierProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MD5HashProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attributeGroup ref="ValueTypeProperty" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DriveTypeProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="DriveType">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnumProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Default" type="CsIdentifier">
                        <xs:annotation>
                            <xs:documentation>The constant default value.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultNull">
                        <xs:annotation>
                            <xs:documentation>The default value is null.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="Type" type="CsIdentifier" use="required"/>
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RelatedEntityProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="Reference" type="CsIdentifier" use="required"/>
                <xs:attribute name="TypeParam" type="CsIdentifier" use="optional"/>
                <xs:attribute name="IsDefaultNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether the default value is null.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicates whether to allow null values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IsOneToOne" type="xs:boolean" use="optional" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NavigationSetProperty">
        <xs:complexContent>
            <xs:extension base="EntityProperty">
                <xs:attribute name="ItemType" type="CsIdentifier" use="required"/>
                <xs:attribute name="ForeignKey" type="CsIdentifier" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PropertiesList">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Byte" type="ByteProperty" />
            <xs:element name="SByte" type="SByteProperty" />
            <xs:element name="ByteArray" type="ByteArrayProperty" />
            <xs:element name="MultiStringValue" type="MultiStringValueProperty" />
            <xs:element name="MD5Hash" type="MD5HashProperty" />
            <xs:element name="Short" type="ShortProperty" />
            <xs:element name="UShort" type="UShortProperty" />
            <xs:element name="Int" type="IntProperty" />
            <xs:element name="UInt" type="UIntProperty" />
            <xs:element name="Long" type="LongProperty" />
            <xs:element name="ULong" type="ULongProperty" />
            <xs:element name="Double" type="DoubleProperty" />
            <xs:element name="NVarChar" type="NVarCharProperty" />
            <xs:element name="DateTime" type="DateTimeProperty" />
            <xs:element name="UniqueIdentifier" type="UniqueIdentifierProperty" />
            <xs:element name="Bit" type="BitProperty" />
            <xs:element name="Text" type="TextProperty" />
            <xs:element name="VolumeIdentifier" type="VolumeIdentifierProperty"/>
            <xs:element name="DriveType" type="DriveTypeProperty"/>
            <xs:element name="Enum" type="EnumProperty"/>
            <xs:element name="RelatedEntity" type="RelatedEntityProperty" />
            <xs:element name="CollectionNavigation" type="NavigationSetProperty"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntityDefinition">
        <xs:sequence>
            <xs:element name="summary" type="CommentDoc">
                <xs:annotation>
                    <xs:documentation>Summary xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeparam" type="CommentDoc" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Type parameter xml source code documentation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="DetailsCommentDoc" />
            <xs:choice minOccurs="0">
                <xs:element name="ExtendsGenericEntity">
                    <xs:annotation>
                        <xs:documentation>Inherits from an entity that has type parameters.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="xs:normalizedString" use="required">
                            <xs:annotation>
                                <xs:documentation>The type to emit for code generation.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="TypeDef" type="CsIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>The name of the generic type definition.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExtendsEntity">
                    <xs:annotation>
                        <xs:documentation>Inherits from an entity that has no type parameters.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="CsIdentifier" use="required">
                            <xs:annotation>
                                <xs:documentation>The type name.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BaseType">
                    <xs:annotation>
                        <xs:documentation>Entity inherits from another type</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Type" type="xs:normalizedString" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element name="Implements" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="Type" type="xs:normalizedString" use="required" />
                    <xs:attribute name="TypeDef" type="xs:normalizedString" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Properties" type="PropertiesList">
                <xs:unique name="IDX_Property_Name">
                    <xs:selector xpath="*"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
                <xs:key name="PK_ForeignKeyProperty">
                    <xs:selector xpath="RelatedEntity" />
                    <xs:field xpath="@Name" />
                </xs:key>
                <xs:keyref name="FK_NavigationProperty" refer="PK_ForeignKeyProperty">
                    <xs:selector xpath="UniqueIdentifier" />
                    <xs:field xpath="Navigation" />
                </xs:keyref>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="CsIdentifier" use="required" />
    </xs:complexType>
    <xs:complexType name="CommonEntityDefinition">
        <xs:complexContent>
            <xs:extension base="EntityDefinition">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DbEntityDefinition">
        <xs:complexContent>
            <xs:extension base="EntityDefinition">
                <xs:attribute name="TableName" type="CsIdentifier" use="optional" />
                <xs:attribute name="RootInterface" type="CsIdentifier" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NamespaceDefinition">
        <xs:sequence>
            <xs:element name="EnumTypes" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="Byte" type="ByteEnumDefinition">
                            <xs:unique name="IDX_ByteEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="SByte" type="SByteEnumDefinition">
                            <xs:unique name="IDX_SByteEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="Short" type="ShortEnumDefinition">
                            <xs:unique name="IDX_ShortEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="UShort" type="UShortEnumDefinition">
                            <xs:unique name="IDX_UShortEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="Int" type="IntEnumDefinition">
                            <xs:unique name="IDX_IntEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="UInt" type="UIntEnumDefinition">
                            <xs:unique name="IDX_UIntEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="Long" type="LongEnumDefinition">
                            <xs:unique name="IDX_LongEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="ULong" type="ULongEnumDefinition">
                            <xs:unique name="IDX_ULongEnum">
                                <xs:selector xpath="Field"/>
                                <xs:field xpath="@Name"/>
                            </xs:unique>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EntityDefinitions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Root">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="NamespaceDefinition">
                                <xs:sequence>
                                    <xs:element name="Entity" type="CommonEntityDefinition" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Local">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="NamespaceDefinition">
                                <xs:sequence>
                                    <xs:element name="Entity" type="DbEntityDefinition" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Upstream">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="NamespaceDefinition">
                                <xs:sequence>
                                    <xs:element name="Entity" type="DbEntityDefinition" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_Root_Type_Name">
            <xs:selector xpath="Root/Entity|Root/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Root_Entity_BaseInterface" refer="PK_Root_Type_Name">
            <xs:selector xpath="Root/Entity"/>
            <xs:field xpath="@BaseInterface"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_Entity_TypeDef" refer="PK_Root_Type_Name">
            <xs:selector xpath="Root/Entity/Implements"/>
            <xs:field xpath="@TypeDef"/>
        </xs:keyref>
        <xs:keyref name="FK_Root_Entity_Navigation" refer="PK_Root_Type_Name">
            <xs:selector xpath="Root/Entity/Properties/Navigation"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:key name="PK_LocalScope_Type_Name">
            <xs:selector xpath="Root/Entity|Root/EnumTypes/*|Local/Entity|Local/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Local_Entity_BaseInterface" refer="PK_LocalScope_Type_Name">
            <xs:selector xpath="Local/Entity"/>
            <xs:field xpath="@BaseInterface"/>
        </xs:keyref>
        <xs:keyref name="FK_Local_Entity_Navigation" refer="PK_LocalScope_Type_Name">
            <xs:selector xpath="Local/Entity/Properties/Navigation"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:key name="PK_UpstreamScope_Type_Name">
            <xs:selector xpath="Root/Entity|Root/EnumTypes/*|Upstream/Entity|Upstream/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_Entity_BaseInterface" refer="PK_UpstreamScope_Type_Name">
            <xs:selector xpath="Upstream/Entity"/>
            <xs:field xpath="@BaseInterface"/>
        </xs:keyref>
        <xs:keyref name="FK_Upstream_Entity_Navigation" refer="PK_UpstreamScope_Type_Name">
            <xs:selector xpath="Upstream/Entity/Properties/Navigation"/>
            <xs:field xpath="@Reference"/>
        </xs:keyref>
        <xs:key name="PK_Root_Enum_Name">
            <xs:selector xpath="Root/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Root_Entity_Enum_Property_Type" refer="PK_Root_Enum_Name">
            <xs:selector xpath="Root/Entity/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:key name="PK_LocalScope_Enum_Name">
            <xs:selector xpath="Root/EnumTypes/*|Local/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Local_Entity_Enum_Property_Type" refer="PK_LocalScope_Enum_Name">
            <xs:selector xpath="Local/Entity/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:key name="PK_UpstreamScope_Enum_Name">
            <xs:selector xpath="Root/EnumTypes/*|Upstream/EnumTypes/*"/>
            <xs:field xpath="@Name"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_Entity_Enum_Property_Type" refer="PK_UpstreamScope_Enum_Name">
            <xs:selector xpath="Upstream/Entity/Enum"/>
            <xs:field xpath="@Type"/>
        </xs:keyref>
        <xs:key name="PK_Root_Member_Full_Name">
            <xs:selector xpath="Root/Entity/Properties/*|Root/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:key name="PK_LocalScope_Member_Full_Name">
            <xs:selector xpath="Root/Entity/Properties/*|Root/EnumTypes/*/Field|Local/Entity/Properties/*|Local/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:key name="PK_UpstreamScope_Member_Full_Name">
            <xs:selector xpath="Root/Entity/Properties/*|Root/EnumTypes/*/Field|Upstream/Entity/Properties/*|Upstream/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:key name="PK_Root_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Root_Enum_Field_AmbientValue" refer="PK_Root_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/AmbientEnum"/>
            <xs:field xpath="@Value"/>
        </xs:keyref>
        <xs:key name="PK_LocalScope_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field|Local/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Local_Enum_Field_AmbientValue" refer="PK_LocalScope_Enum_Field_FullName">
            <xs:selector xpath="Local/EnumTypes/*/AmbientEnum"/>
            <xs:field xpath="@Value"/>
        </xs:keyref>
        <xs:key name="PK_UpstreamScope_Enum_Field_FullName">
            <xs:selector xpath="Root/EnumTypes/*/Field|Upstream/EnumTypes/*/Field"/>
            <xs:field xpath="@FullName"/>
        </xs:key>
        <xs:keyref name="FK_Upstream_Enum_Field_AmbientValue" refer="PK_UpstreamScope_Enum_Field_FullName">
            <xs:selector xpath="Upstream/EnumTypes/*/AmbientEnum"/>
            <xs:field xpath="@Value"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
