src/FsInfoCat.Generator/XmlSchemas/Model/InterfaceDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="TypeNames.xsd"/>
    <xs:include schemaLocation="ConstructedTypes.xsd"/>
    <xs:include schemaLocation="ExplicitNames.xsd"/>
    <xs:include schemaLocation="Documentation.xsd"/>
    <xs:complexType name="Property">
        <xs:sequence>
            <xs:element name="Documentation" type="PropertyDocumentation" />
            <xs:element name="Display" type="DisplayAttribute" />
        </xs:sequence>
        <xs:attribute name="Name" type="PublicMemberName" use="required" />
        <xs:attribute name="Access" type="PropertyAccessType" use="optional" default="ReadWrite" />
        <!-- <xs:attribute name="ExplicitOnly" type="xs:boolean" use="optional" default="false" /> -->
    </xs:complexType>
    <xs:complexType name="ValueProperty">
        <xs:complexContent>
            <xs:extension base="Property">
                <xs:attribute name="IsNullable" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReferenceProperty">
        <xs:complexContent>
            <xs:extension base="Property">
                <xs:attribute name="NotNull" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NavigationProperty">
        <xs:complexContent>
            <xs:extension base="ReferenceProperty">
                <xs:attribute name="Key" type="PublicMemberName" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CollectionProperty">
        <xs:complexContent>
            <xs:extension base="Property">
                <xs:attribute name="AllowNull" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="InterfaceProperties">
        <xs:choice>
            <xs:element name="Boolean">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:boolean" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Byte">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:unsignedByte" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="SByte">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:byte" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Short">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:short" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="UShort">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:unsignedShort" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Int">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:int" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="UInt">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:unsignedInt" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Long">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:long" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ULong">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:unsignedLong" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Double">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:double" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Float">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:float" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Decimal">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="InitialValue" type="xs:decimal" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Char">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="AllowEmpty" type="xs:boolean" use="optional" default="false" />
                            <xs:attribute name="InitialValue" use="optional">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0" />
                                        <xs:maxLength value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="NChar">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:attribute name="Length" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:unsignedShort">
                                        <xs:minInclusive value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="AllowEmpty" type="xs:boolean" use="optional" default="false" />
                            <xs:attribute name="Normalization" type="StringNormalizationType" use="optional" default="None" />
                            <xs:attribute name="InitialValue" type="xs:string" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="NVarChar">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:attribute name="MaxLength" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:unsignedShort">
                                        <xs:minInclusive value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="NotEmpty" type="xs:boolean" use="optional" default="false" />
                            <xs:attribute name="Normalization" type="StringNormalizationType" use="optional" default="None" />
                            <xs:attribute name="InitialValue" type="xs:string" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="NVarChar2">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:attribute name="MinLength" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:unsignedShort">
                                        <xs:minInclusive value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="MaxLength" use="optional">
                                <xs:simpleType>
                                    <xs:restriction base="xs:unsignedShort">
                                        <xs:minInclusive value="4" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="AllowEmpty" type="xs:boolean" use="optional" default="false" />
                            <xs:attribute name="Normalization" type="StringNormalizationType" use="optional" default="None" />
                            <xs:attribute name="InitialValue" type="xs:string" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Text">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:attribute name="NotEmpty" type="xs:boolean" use="optional" default="false" />
                            <xs:attribute name="Normalization" type="StringNormalizationType" use="optional" default="None" />
                            <xs:attribute name="InitialValue" type="xs:string" use="optional" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="DateTime">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="DefaultNow" type="xs:boolean" use="optional" default="false" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Guid">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ValueProperty">
                            <xs:attribute name="IsPrimaryKey" type="xs:boolean" use="optional" default="false" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Entity">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="NavigationProperty">
                            <xs:attribute name="Ref" type="InterfaceName" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="EntityCollection">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="CollectionProperty">
                            <xs:attribute name="Ref" type="InterfaceName" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="GenericEntity1">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="NavigationProperty">
                            <xs:sequence>
                                <xs:element name="GenericArguments">
                                    <xs:complexType>
                                        <xs:group ref="ConstructedTypeArgs" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Ref" type="GenericInterfaceName1" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="GenericEntityCollection1">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="CollectionProperty">
                            <xs:sequence>
                                <xs:element name="GenericArguments">
                                    <xs:complexType>
                                        <xs:group ref="ConstructedTypeArgs" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Ref" type="GenericInterfaceName1" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="GenericEntity2">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="NavigationProperty">
                            <xs:sequence>
                                <xs:element name="GenericArguments">
                                    <xs:complexType>
                                        <xs:group ref="ConstructedTypeArgs" minOccurs="2" maxOccurs="2" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Ref" type="GenericInterfaceName2" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="GenericEntityCollection2">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="CollectionProperty">
                            <xs:sequence>
                                <xs:element name="GenericArguments">
                                    <xs:complexType>
                                        <xs:group ref="ConstructedTypeArgs" minOccurs="2" maxOccurs="2" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Ref" type="GenericInterfaceName2" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <!-- <xs:element name="Interface">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:attribute name="Type" type="SimpleRuntimeInterfaceNames" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element> -->
            <!-- <xs:element name="GenericInterface1">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:sequence>
                                <xs:element name="GenericArguments">
                                    <xs:complexType>
                                        <xs:group ref="ConstructedTypeArgs" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Type" type="GenericRuntimeInterfaceNames1" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element> -->
            <!-- <xs:element name="GenericInterface2">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ReferenceProperty">
                            <xs:sequence>
                                <xs:element name="GenericArguments">
                                    <xs:complexType>
                                        <xs:group ref="ConstructedTypeArgs" minOccurs="2" maxOccurs="2" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Type" type="GenericRuntimeInterfaceNames2" use="required" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element> -->
        </xs:choice>
    </xs:group>
    <xs:complexType name="InterfaceDefinition">
        <xs:sequence>
            <xs:element name="Documentation" type="BasicDefinitionDocumentation" />
            <!-- <xs:choice>
                <xs:sequence>
                    <xs:element name="View">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Table" minOccurs="0">
                                    <xs:complexType>
                                        <xs:attribute name="Ref" type="PublicMemberName" use="required" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Name" type="ViewName" use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Implements">
                        <xs:complexType>
                            <xs:group ref="ConstructedInterfaces" maxOccurs="unbounded" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="Table" minOccurs="0">
                        <xs:complexType>
                            <xs:attribute name="Name" type="PublicMemberName" use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Implements" minOccurs="0">
                        <xs:complexType>
                            <xs:group ref="ConstructedInterfaces" maxOccurs="unbounded" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:choice> -->
            <xs:element name="Implements" minOccurs="0">
                <xs:complexType>
                    <xs:group ref="ConstructedInterfaces" maxOccurs="unbounded" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Properties" minOccurs="0">
                <xs:complexType>
                    <xs:group ref="InterfaceProperties" maxOccurs="unbounded" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="InterfaceName" use="required" />
    </xs:complexType>
    <xs:complexType name="GenericInterfaceDefinition1">
        <xs:sequence>
            <xs:element name="GenericArguments">
                <xs:complexType>
                    <xs:group ref="GenericTypeArguments" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="GenericInterfaceName1" use="required" />
    </xs:complexType>
    <xs:complexType name="GenericInterfaceDefinition2">
        <xs:sequence>
            <xs:element name="GenericArguments">
                <xs:complexType>
                    <xs:group ref="GenericTypeArguments" minOccurs="2" maxOccurs="2" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="GenericInterfaceName2" use="required" />
    </xs:complexType>
</xs:schema>
