src/FsInfoCat.Test/Resources/UrlHelperTest.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CaptureType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Success" type="xs:boolean" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GroupType">
        <xs:complexContent>
            <xs:extension base="CaptureType">
                <xs:attribute name="Name" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MatchType">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" name="Group" type="GroupType" />
        </xs:sequence>
        <xs:attribute name="Success" type="xs:boolean" use="required" />
    </xs:complexType>
    <xs:complexType name="OSType">
        <xs:sequence>
            <xs:element name="FsPathRegex" type="MatchType" />
            <xs:element name="FsPathPattern" type="CaptureType" />
            <xs:element name="FormatGuess" type="MatchType" />
            <xs:element name="FileUriStrict" type="MatchType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AuthorityCaseInsensitiveEqualsType">
        <xs:attribute name="Description" type="xs:string" use="required" />
        <xs:attribute name="CompareTo" type="xs:string" use="required" />
        <xs:attribute name="Returns" type="xs:boolean" use="required" />
    </xs:complexType>
    <xs:simpleType name="FileStringFormat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RelativeLocalPath" />
            <xs:enumeration value="WellFormedRelativeLocalPath" />
            <xs:enumeration value="RelativeAltPath" />
            <xs:enumeration value="WellFormedRelativeAltPath" />
            <xs:enumeration value="AbsoluteLocalPath" />
            <xs:enumeration value="WellFormedAbsoluteLocalPath" />
            <xs:enumeration value="AbsoluteAltPath" />
            <xs:enumeration value="WellFormedAbsoluteAltPath" />
            <xs:enumeration value="RelativeLocalUri" />
            <xs:enumeration value="WellformedRelativeLocalUri" />
            <xs:enumeration value="RelativeAltUri" />
            <xs:enumeration value="WellformedRelativeAltUri" />
            <xs:enumeration value="AbsoluteLocalUrl" />
            <xs:enumeration value="WellformedAbsoluteLocalUrl" />
            <xs:enumeration value="AbsoluteAltUrl" />
            <xs:enumeration value="WellformedAbsoluteAltUrl" />
            <xs:enumeration value="LocalUrn" />
            <xs:enumeration value="WellFormedLocalUrn" />
            <xs:enumeration value="AltUrn" />
            <xs:enumeration value="WellFormedAltUrn" />
            <xs:enumeration value="NonFileUrl" />
            <xs:enumeration value="WellFormedNonFileUrl" />
            <xs:enumeration value="Invalid" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UriKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RelativeOrAbsolute" />
            <xs:enumeration value="Absolute" />
            <xs:enumeration value="Relative" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ParseUriOrPathType">
        <xs:sequence>
            <xs:element name="Expected">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="FileStringFormat">
                            <xs:attribute name="HostName" type="xs:string" use="required" />
                            <xs:attribute name="Path" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PreferFsPath" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="TryParseFileUriStringType">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attribute name="HostName" type="xs:string" use="optional" />
                <xs:attribute name="AbsolutePath" type="xs:string" use="optional" />
                <xs:attribute name="LeafIndex" type="xs:int" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IsWellFormedFileUriStringType">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attribute name="Kind" type="UriKind" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="SplitQueryAndFragmentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Query" type="xs:string" use="optional" />
                <xs:attribute name="Fragment" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TestDataType">
        <xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element name="Windows" type="OSType" />
                <xs:element name="Linux"  type="OSType" />
            </xs:sequence>
            <xs:element name="AuthorityCaseInsensitiveEquals" type="AuthorityCaseInsensitiveEqualsType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="TryParseFileUriString" type="TryParseFileUriStringType" minOccurs="0" />
            <xs:element name="IsWellFormedFileUriString" type="IsWellFormedFileUriStringType" minOccurs="0" maxOccurs="3" />
            <xs:element name="ParseUriOrPath" type="ParseUriOrPathType" minOccurs="0" maxOccurs="2" />
            <xs:element name="AsNormalized" type="xs:string" minOccurs="0" />
            <xs:element name="SplitQueryAndFragment" type="SplitQueryAndFragmentType" minOccurs="0" />
            <xs:element name="AsRelativeUriString" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="Value" type="xs:string" use="required" />
        <xs:attribute name="Description" type="xs:string" use="required" />
        <xs:attribute name="Base64" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:element name="UrlHelperTest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="TestData" type="TestDataType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
