FsInfoCat/FsInfoCat/Resources/ExportSchema.xsd

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:ex="http://git.erwinefamily.net/FsInfoCat/V1/ExportSchema.xsd" targetNamespace="http://git.erwinefamily.net/FsInfoCat/V1/ExportSchema.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://git.erwinefamily.net/FsInfoCat/V1/ExportSchema.xsd">
    <xs:simpleType name="UUID">
        <xs:restriction base="xs:token">
            <xs:pattern value="^(?i)\s*(\{[a-f\d]{8}(-[a-f\d]{4}){4}[a-f\d]{8}\}|[a-f\d]{8}(-[a-f\d]{4}){4}[a-f\d]{8}|[a-f\d]{32})\s*$"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EntityId">
        <xs:restriction base="UUID">
            <xs:pattern value="^\{\S+$"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MD5Hash">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="^(?i)\s*(([a-z\d+/]\s*){4}){5}([a-z\d+/]\s*){2}$"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:base64Binary">
                    <xs:pattern value="^(?i)([a-z\d+/]\s*){22}==$"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:hexBinary">
                    <xs:pattern value="^(?i)\s*([a-f\d+/]\s*){32}$"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="UUID">
                    <xs:pattern value="^\s*[a-fA-F\d]"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="DriveType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Unknown">
                <xs:annotation>
                    <xs:documentation>The type of drive is unknown.</xs:documentation>
                    <xs:appinfo>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NoRootDirectory">
                <xs:annotation>
                    <xs:documentation>The drive does not have a root directory.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Removable">
                <xs:annotation>
                    <xs:documentation>The drive is a removable storage device, such as a USB flash drive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Fixed">
                <xs:annotation>
                    <xs:documentation>The drive is a fixed disk.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Network">
                <xs:annotation>
                    <xs:documentation>The drive is a network drive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDRom">
                <xs:annotation>
                    <xs:documentation>The drive is an optical disc device, such as a CD or DVD-ROM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Ram">
                <xs:annotation>
                    <xs:documentation>The drive is a RAM disk.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VolumeStatus">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="Controlled"/>
            <xs:enumeration value="Offline"/>
            <xs:enumeration value="Uncontrolled"/>
            <xs:enumeration value="Relinquished"/>
            <xs:enumeration value="Destroyed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RedundancyRemediationStatus">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NotRedundant"/>
            <xs:enumeration value="Unconfirmed"/>
            <xs:enumeration value="PendingValidation"/>
            <xs:enumeration value="Deferred"/>
            <xs:enumeration value="Justified"/>
            <xs:enumeration value="Insupportable"/>
            <xs:enumeration value="Violation"/>
            <xs:enumeration value="Attrition"/>
            <xs:enumeration value="Deleted"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileCrawlOptionValue">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="DoNotCompare"/>
            <xs:enumeration value="DoNotShow"/>
            <xs:enumeration value="FlaggedForDeletion"/>
            <xs:enumeration value="FlaggedForRescan"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Name">
        <xs:restriction base="xs:string">
            <xs:pattern value="^(\S+(\s+\S+)*)?$"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ShortName">
        <xs:restriction base="Name">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequiredShortName">
        <xs:restriction base="ShortName">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleName">
        <xs:restriction base="Name">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequiredSimpleName">
        <xs:restriction base="SimpleName">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LongName">
        <xs:restriction base="Name">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequiredLongName">
        <xs:restriction base="LongName">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NotesField">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IDeviceUri">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="RequiredLongName">
                    <xs:pattern value="^urn:volume:id:(?i)[a-f\d]{4}-[a-f\d]{4}$"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="RequiredLongName">
                    <xs:pattern value="^urn:uuid:(?i)(\{[a-f\d]{8}(-[a-f\d]{4}){4}[a-f\d]{8}\}|[a-f\d]{8}(-[a-f\d]{4}){4}[a-f\d]{8}|[a-f\d]{32})$"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="IUncUri">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="RequiredLongName">
                    <xs:pattern value="^file://((?&lt;!\d)(0(?=\d))*(?!25[6-9]|([3-9]\d|1\d\d)\d)\d{1,3}\.?){4}(?&lt;!\.)/([!$=&amp;-.:;=@[\]\w]+|%([01346-9a-f][\da-f]|2[\da-e]|5[\dabd-f]))+$"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="RequiredLongName">
                    <xs:pattern value="^file://\[([a-f\d]{1,4}:){7}(:|[a-f\d]{1,4})|(?=(\w*:){2,7}\w*\]?$)(([a-f\d]{1,4}:)+|:):([a-f\d]{1,4}(:[a-f\d]{1,4})*)?\]/([!$=&amp;-.:;=@[\]\w]+|%([01346-9a-f][\da-f]|2[\da-e]|5[\dabd-f]))+$"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="RequiredLongName">
                    <xs:pattern value="^file://[a-z\d][\w-]*(\.[a-z\d][\w-]*)*\.?/([!$=&amp;-.:;=@[\]\w]+|%([01346-9a-f][\da-f]|2[\da-e]|5[\dabd-f]))+$"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="PositiveNonZeroInt">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeInt">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeLong">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileCrawlOptions">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="None"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list itemType="FileCrawlOptionValue"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="DirectoryCrawlOptionValue">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="SkipSubdirectories"/>
            <xs:enumeration value="Skip"/>
            <xs:enumeration value="DoNotCompareFiles"/>
            <xs:enumeration value="DoNotShow"/>
            <xs:enumeration value="FlaggedForDeletion"/>
            <xs:enumeration value="FlaggedForRescan"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DirectoryCrawlOptions">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="None"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list itemType="DirectoryCrawlOptionValue"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="AccessErrorCode">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="UnexpectedError"/>
            <xs:enumeration value="ReadError"/>
            <xs:enumeration value="OpenError"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DirectoryStatus">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Incomplete"/>
            <xs:enumeration value="Complete"/>
            <xs:enumeration value="AccessError"/>
            <xs:enumeration value="Deleted"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="IDbEntity">
        <xs:attribute name="CreatedOn" type="xs:dateTime" use="required"/>
        <xs:attribute name="ModifiedOn" type="xs:dateTime" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ILocalDbEntity">
        <xs:attribute name="UpstreamId" type="EntityId" use="optional"/>
        <xs:attribute name="LastSynchronizedOn" type="xs:dateTime" use="optional"/>
    </xs:attributeGroup>
    <xs:complexType name="IRedundancy">
        <xs:simpleContent>
            <xs:extension base="NotesField">
                <xs:attribute name="FileId" type="EntityId" use="required">
                    <xs:annotation>
                        <xs:documentation>The Id of a file that belongs to the parent redundancy set.</xs:documentation>
                        <xs:appinfo xmlns:d="urn:schemas-microsoft-com:xml-msdata">
                            <d:Relationship d:parent="IFile" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Reference" type="ShortName" use="optional" default=""/>
                <xs:attributeGroup ref="IDbEntity" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IAccessError" mixed="true">
        <xs:simpleContent>
            <xs:extension base="NotesField">
                <xs:attribute name="Id" type="EntityId" use="required"/>
                <xs:attribute name="ErrorCode" type="AccessErrorCode" use="optional" default="UnexpectedError"/>
                <xs:attribute name="Message" type="LongName" use="required"/>
                <xs:attributeGroup ref="IDbEntity" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IComparison">
        <xs:simpleContent>
            <xs:annotation>
                <xs:documentation>The Id of the file it was compared to.</xs:documentation>
                <xs:appinfo xmlns:d="urn:schemas-microsoft-com:xml-msdata">
                    <d:Relationship d:childKey="TargetFileId" />
                </xs:appinfo>
            </xs:annotation>
            <xs:extension base="EntityId">
                <xs:attribute name="AreEqual" type="xs:boolean" use="optional" default="true"/>
                <xs:attribute name="ComparedOn" type="xs:dateTime" use="required"/>
                <xs:attributeGroup ref="IDbEntity" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IFile">
        <xs:sequence>
            <xs:element name="Notes" type="NotesField" minOccurs="0" maxOccurs="1"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Comparison" type="IComparison">
                    <xs:annotation>
                        <xs:documentation>A comparison where the current file was the source file.</xs:documentation>
                        <xs:appinfo xmlns:d="urn:schemas-microsoft-com:xml-msdata">
                            <d:Relationship d:childKey="SourceFileId" />
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:keyref name="FK_ComparisonTargetFile" refer="PK_File">
                        <xs:selector xpath="."/>
                        <xs:field xpath="TargetFileId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element name="AccessError" type="IAccessError">
                    <xs:annotation>
                        <xs:documentation>An access error that occurred while accessing the current file.</xs:documentation>
                        <xs:appinfo xmlns:d="urn:schemas-microsoft-com:xml-msdata">
                            <d:Relationship d:childKey="FileId" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Id" type="EntityId" use="required"/>
        <xs:attribute name="Name" type="RequiredLongName" use="required"/>
        <xs:attribute name="ContentId" type="EntityId" use="required">
            <xs:annotation>
                <xs:documentation>The Id of the content info for the current file.</xs:documentation>
                <xs:appinfo xmlns:d="urn:schemas-microsoft-com:xml-msdata">
                    <d:Relationship d:parent="IContentInfo" />
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ExtendedPropertyId" type="EntityId" use="optional">
            <xs:annotation>
                <xs:documentation>The Id of the extended properties for the current file.</xs:documentation>
                <xs:appinfo xmlns:d="urn:schemas-microsoft-com:xml-msdata">
                    <d:Relationship d:parent="IExtendedProperties" />
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Options" type="FileCrawlOptions" use="optional" default="None"/>
        <xs:attribute name="LastAccessed" type="xs:dateTime" use="required"/>
        <xs:attribute name="LastHashCalculation" type="xs:dateTime" use="optional"/>
        <xs:attribute name="Deleted" type="xs:boolean" use="optional" default="false"/>
        <xs:attributeGroup ref="IDbEntity" />
    </xs:complexType>
    <xs:complexType name="IExtendedProperties">
        <xs:simpleContent>
            <xs:extension base="NotesField">
                <xs:attribute name="Id" type="EntityId" use="required"/>
                <xs:attribute name="Width" type="xs:unsignedShort" use="required"/>
                <xs:attribute name="Height" type="xs:unsignedShort" use="required"/>
                <xs:attribute name="Duration" type="xs:unsignedLong" use="optional"/>
                <xs:attribute name="FrameCount" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="TrackNumber" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="Bitrate" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="FrameRate" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="SamplesPerPixel" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="PixelPerUnitX" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="PixelPerUnitY" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="Compression" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="XResNumerator" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="XResDenominator" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="YResNumerator" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="YResDenominator" type="xs:unsignedInt" use="optional"/>
                <xs:attribute name="ResolutionXUnit" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="ResolutionYUnit" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="JPEGProc" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="JPEGQuality" type="xs:unsignedShort" use="optional"/>
                <xs:attribute name="DateTime" type="xs:dateTime" use="optional"/>
                <xs:attribute name="Title" type="LongName" use="optional"/>
                <xs:attribute name="Copyright" type="LongName" use="optional"/>
                <xs:attribute name="SoftwareUsed" type="LongName" use="optional"/>
                <xs:attribute name="Artist" type="LongName" use="optional"/>
                <xs:attribute name="HostComputer" type="LongName" use="optional"/>
                <xs:attributeGroup ref="IDbEntity" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IRedundantSet">
        <xs:sequence>
            <xs:element name="Notes" type="NotesField" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Redundancy" type="IRedundancy" minOccurs="0" maxOccurs="unbounded">
                    <xs:keyref name="FK_RedundancyFile" refer="PK_File">
                        <xs:selector xpath="."/>
                        <xs:field xpath="FileId"/>
                    </xs:keyref>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="EntityId" use="required"/>
        <xs:attribute name="RemediationStatus" type="RedundancyRemediationStatus" use="optional" default="Unconfirmed"/>
        <xs:attribute name="Reference" type="ShortName" use="optional" default=""/>
        <xs:attributeGroup ref="IDbEntity" />
    </xs:complexType>
    <xs:complexType name="IContentInfo">
        <xs:sequence>
            <xs:element name="RedundantSet" type="IRedundantSet" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Id" type="EntityId" use="required"/>
        <xs:attribute name="Length" type="NonNegativeLong" use="required"/>
        <xs:attribute name="Hash" type="MD5Hash" use="optional"/>
        <xs:attributeGroup ref="IDbEntity" />
    </xs:complexType>
    <xs:complexType name="ISubdirectory">
        <xs:sequence>
            <xs:element name="Notes" type="NotesField" minOccurs="0" maxOccurs="1"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="File" type="IFile">
                    <xs:keyref name="FK_FileContentInfo" refer="PK_ContentInfo">
                        <xs:selector xpath="."/>
                        <xs:field xpath="ContentId"/>
                    </xs:keyref>
                    <xs:keyref name="FK_FileExtendedProperty" refer="PK_ExtendedProperties">
                        <xs:selector xpath="."/>
                        <xs:field xpath="ExtendedPropertyId"/>
                    </xs:keyref>
                    <xs:unique name="IDX_FileAccessError">
                        <xs:selector xpath="ex:AccessError"/>
                        <xs:field xpath="@ErrorCode"/>
                        <xs:field xpath="@Message"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="Subdirectory" type="ISubdirectory">
                    <xs:unique name="IDX_Subdirectory">
                        <xs:selector xpath="ex:Subdirectory|ex:File"/>
                        <xs:field xpath="@Name"/>
                    </xs:unique>
                    <xs:unique name="IDX_SubdirectoryAccessError">
                        <xs:selector xpath="ex:AccessError"/>
                        <xs:field xpath="@ErrorCode"/>
                        <xs:field xpath="@Message"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="AccessError" type="IAccessError"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Id" type="EntityId" use="required"/>
        <xs:attribute name="Name" type="RequiredLongName" use="required"/>
        <xs:attribute name="Options" type="DirectoryCrawlOptions" use="optional" default="None"/>
        <xs:attribute name="LastAccessed" type="xs:dateTime" use="required"/>
        <xs:attribute name="Status" type="DirectoryStatus" use="optional" default="Incomplete"/>
        <xs:attributeGroup ref="IDbEntity" />
    </xs:complexType>
    <xs:complexType name="IVolume">
        <xs:sequence>
            <xs:element name="RootDirectory" type="ISubdirectory" minOccurs="0" maxOccurs="1">
                <xs:unique name="IDX_RootDirectory">
                    <xs:selector xpath="Subdirectory|File"/>
                    <xs:field xpath="@Name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="Notes" type="NotesField" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AccessError" type="IAccessError" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Id" type="EntityId" use="required"/>
        <xs:attribute name="DisplayName" type="LongName" use="required"/>
        <xs:attribute name="VolumeName" type="ShortName" use="optional" default=""/>
        <xs:attribute name="Identifier" type="LongName" use="required"/>
        <xs:attribute name="CaseSensitiveSearch" type="xs:boolean"/>
        <xs:attribute name="ReadOnly" type="xs:boolean" use="optional"/>
        <xs:attribute name="MaxNameLength" type="PositiveNonZeroInt" use="optional"/>
        <xs:attribute name="Type" type="DriveType" use="optional" default="Unknown"/>
        <xs:attribute name="Status" type="VolumeStatus" use="optional" default="Unknown"/>
        <xs:attributeGroup ref="IDbEntity" />
    </xs:complexType>
    <xs:complexType name="ISymbolicName">
        <xs:simpleContent>
            <xs:extension base="NotesField">
                <xs:attribute name="Id" type="EntityId" use="required"/>
                <xs:attribute name="Name" type="ShortName" use="required"/>
                <xs:attribute name="Priority" type="xs:int" use="optional" default="0"/>
                <xs:attribute name="IsInactive" type="xs:boolean" use="optional" default="false"/>
                <xs:attributeGroup ref="IDbEntity" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ILocalymbolicName">
        <xs:simpleContent>
            <xs:extension base="ISymbolicName">
                <xs:attributeGroup ref="ILocalDbEntity" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IFileSystem">
        <xs:sequence>
            <xs:element name="Notes" type="NotesField" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="Id" type="EntityId" use="required"/>
        <xs:attribute name="DisplayName" type="LongName" use="required"/>
        <xs:attribute name="CaseSensitiveSearch" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="ReadOnly" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="MaxNameLength" type="PositiveNonZeroInt" use="optional" default="1"/>
        <xs:attribute name="DefaultDriveType" type="DriveType" use="optional"/>
        <xs:attribute name="IsInactive" type="xs:boolean" use="optional" default="false"/>
        <xs:attributeGroup ref="IDbEntity" />
    </xs:complexType>
    <xs:complexType name="ILocalFileSystem">
        <xs:complexContent>
            <xs:extension base="IFileSystem">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="SymbolicName" type="ISymbolicName"/>
                        <xs:element name="Volume" type="IVolume">
                            <xs:unique name="IDX_VolumeAccessError">
                                <xs:selector xpath="ex:AccessError"/>
                                <xs:field xpath="@ErrorCode"/>
                                <xs:field xpath="@Message"/>
                            </xs:unique>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="ILocalDbEntity" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Local">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="FileSystem" type="ILocalFileSystem" />
                <xs:element name="ContentInfo" type="IContentInfo" />
                <xs:element name="ExtendedProperties" type="IExtendedProperties" />
            </xs:choice>
        </xs:complexType>
        <xs:key name="PK_Comparison">
            <xs:selector xpath=".//ex:Comparison"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:key name="PK_Redundancy">
            <xs:selector xpath=".//ex:Redundancy"/>
            <xs:field xpath="@FileId"/>
        </xs:key>
        <xs:key name="PK_RedundantSet">
            <xs:selector xpath=".//ex:RedundantSet"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:key name="PK_AccessError">
            <xs:selector xpath=".//ex:AccessError"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:key name="PK_File">
            <xs:selector xpath=".//ex:File"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:key name="PK_Subdirectory">
            <xs:selector xpath="ex:FileSystem/ex:Volume/ex:RootDirectory|.//ex:Subdirectory"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:key name="PK_Volume">
            <xs:selector xpath="ex:FileSystem/ex:Volume"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:unique name="IDX_VolumeIdentifier">
            <xs:selector xpath="ex:FileSystem/ex:Volume"/>
            <xs:field xpath="@Identifier"/>
        </xs:unique>
        <xs:key name="PK_SymbolicName">
            <xs:selector xpath="ex:FileSystem/ex:SymbolicName"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:unique name="IDX_SymbolicName">
            <xs:selector xpath="ex:FileSystem/ex:SymbolicName"/>
            <xs:field xpath="@Name"/>
        </xs:unique>
        <xs:key name="PK_FileSystem">
            <xs:selector xpath="ex:FileSystem"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:unique name="IDX_FileSystemDisplayName">
            <xs:selector xpath="ex:FileSystem"/>
            <xs:field xpath="@DisplayName"/>
        </xs:unique>
        <xs:key name="PK_ContentInfo">
            <xs:selector xpath="ex:ContentInfo"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:unique name="IDX_ContentInfo">
            <xs:selector xpath="ex:ContentInfo"/>
            <xs:field xpath="@Length"/>
            <xs:field xpath="@Hash"/>
        </xs:unique>
        <xs:key name="PK_ExtendedProperties">
            <xs:selector xpath="ex:ExtendedProperties"/>
            <xs:field xpath="@Id"/>
        </xs:key>
    </xs:element>
</xs:schema>
