src/FsInfoCat.UnitTests/Resources/TestData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="GUID">
        <xs:restriction base="xs:string">
            <xs:pattern value="^\{[a-f\d]{8}(-[a-f\d]{4}){4}[a-f\d]{8}\}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DriveType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Unknown" />
            <xs:enumeration value="NoRootDirectory" />
            <xs:enumeration value="Removable" />
            <xs:enumeration value="Fixed" />
            <xs:enumeration value="Network" />
            <xs:enumeration value="CDRom" />
            <xs:enumeration value="Ram" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VolumeStatus">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Unknown" />
            <xs:enumeration value="Controlled" />
            <xs:enumeration value="Offline" />
            <xs:enumeration value="Uncontrolled" />
            <xs:enumeration value="Relinquished" />
            <xs:enumeration value="Destroyed" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RedundancyRemediationStatus">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NotRedundant" />
            <xs:enumeration value="Unconfirmed" />
            <xs:enumeration value="PendingValidation" />
            <xs:enumeration value="Deferred" />
            <xs:enumeration value="Justified" />
            <xs:enumeration value="Insupportable" />
            <xs:enumeration value="Violation" />
            <xs:enumeration value="Attrition" />
            <xs:enumeration value="Deleted" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileCrawlOptionValue">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="DoNotCompare" />
            <xs:enumeration value="DoNotShow" />
            <xs:enumeration value="FlaggedForDeletion" />
            <xs:enumeration value="FlaggedForRescan" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileCrawlOptions">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="None"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list itemType="FileCrawlOptionValue"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="DirectoryCrawlOptionValue">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="SkipSubdirectories" />
            <xs:enumeration value="Skip" />
            <xs:enumeration value="DoNotCompareFiles" />
            <xs:enumeration value="DoNotShow" />
            <xs:enumeration value="FlaggedForDeletion" />
            <xs:enumeration value="FlaggedForRescan" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DirectoryCrawlOptions">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="None"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:list itemType="DirectoryCrawlOptionValue"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:complexType name="DbEntity">
        <xs:attribute name="UpstreamId" type="GUID" use="optional" />
        <xs:attribute name="LastSynchronizedOn" type="xs:dateTime" use="optional" />
        <xs:attribute name="CreatedOn" type="xs:dateTime" use="required" />
        <xs:attribute name="ModifiedOn" type="xs:dateTime" use="required" />
    </xs:complexType>
    <xs:complexType name="FileType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="Name" type="xs:string" use="required" />
                <xs:attribute name="Options" type="FileCrawlOptions" use="optional" default="None" />
                <xs:attribute name="LastAccessed" type="xs:dateTime" use="required" />
                <xs:attribute name="Deleted" type="xs:boolean" use="optional" default="false" />
                <xs:attribute name="BinaryPropertiesId" type="GUID" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DirectoryType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="File" type="FileType" />
                    <xs:element name="Subdirectory" type="SubdirectoryType" />
                </xs:choice>
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="Name" type="xs:string" use="optional" />
                <xs:attribute name="Options" type="DirectoryCrawlOptions" use="optional" default="None" />
                <xs:attribute name="LastAccessed" type="xs:dateTime" use="required" />
                <xs:attribute name="Deleted" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SubdirectoryType">
        <xs:complexContent>
            <xs:extension base="DirectoryType">
                <xs:attribute name="Name" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SymbolicNameType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="Name" type="xs:string" use="required" />
                <xs:attribute name="Priority" type="xs:unsignedInt" use="required" />
                <xs:attribute name="IsInactive" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VolumeType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:sequence>
                    <xs:element name="Rootdirectory" type="DirectoryType" />
                </xs:sequence>
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="DisplayName" type="xs:string" use="required" />
                <xs:attribute name="VolumeName" type="xs:string" use="optional" />
                <xs:attribute name="Identifier" type="xs:string" use="required" />
                <xs:attribute name="Type" type="DriveType" use="required" />
                <xs:attribute name="Status" type="VolumeStatus" use="required" />
                <xs:attribute name="CaseSensitiveSearch" type="xs:boolean" use="optional" />
                <xs:attribute name="ReadOnly" type="xs:boolean" use="optional" />
                <xs:attribute name="MaxNameLength" type="xs:unsignedInt" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FileSystemType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SymbolicName" type="SymbolicNameType" />
                    <xs:element minOccurs="0" name="Volume" type="VolumeType" />
                </xs:sequence>
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="DisplayName" type="xs:string" use="required" />
                <xs:attribute name="CaseSensitiveSearch" type="xs:boolean" use="optional" default="false" />
                <xs:attribute name="ReadOnly" type="xs:boolean" use="optional" default="false" />
                <xs:attribute name="MaxNameLength" type="xs:unsignedInt" use="optional" default="255" />
                <xs:attribute name="DefaultDriveType" type="DriveType" use="optional" />
                <xs:attribute name="IsInactive" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RedundancyType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:attribute name="FileId" type="GUID" use="required" />
                <xs:attribute name="Reference" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RedundantSetType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:sequence>
                    <xs:element minOccurs="2" maxOccurs="unbounded" name="Redundancy" type="RedundancyType" />
                </xs:sequence>
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="RemediationStatus" type="RedundancyRemediationStatus" use="required" />
                <xs:attribute name="Reference" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BinaryPropertiesType">
        <xs:complexContent>
            <xs:extension base="DbEntity">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="RedundantSet" type="RedundantSetType" />
                </xs:sequence>
                <xs:attribute name="Id" type="GUID" use="required" />
                <xs:attribute name="Length" type="xs:unsignedLong" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="TestData">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="FileSystem" type="FileSystemType" />
                <xs:element maxOccurs="unbounded" name="BinaryProperties" type="BinaryPropertiesType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
